

body {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;;
  background-color: rosybrown;
  color: aliceblue;

}

.menu-options {
  color: aliceblue;
}


.menu-item{
    font-size: 1.5em;
    border: rgb(243, 241, 241) solid 1px;
}


